/EjercicioCRUD/nbproject/private/
/ProductoWSHibernate/nbproject/private/
/ProductoWSHibernate/build/
/SistemaInformacion/nbproject/private/
/SisteInfo/nbproject/private/
/SisLibre/nbproject/private/
/SisLibre/build/
/SisLibre/dist/
/CRUD-Simple-Application-Java-Using-Netbeans-master/build/
/CRUD-Simple-Application-Java-Using-Netbeans-master/nbproject/private/
/CRUDPrueba/nbproject/private/
/CRUDPrueba/build/
/CRUDPrueba2/nbproject/private/
/CRUDPrueba2/build/
/Biblioteca/nbproject/private/
/Biblioteca/build/
/Biblioteca/dist/